$space-amount:(1, 2, 3, 4, 5);
@each $space in $space-amount {
    .m-#{$space} {
        margin: #{$space}rem;
    }
    .my-#{$space} {
        margin: #{$space}rem 0rem;
    }
    .mx-#{$space} {
        margin: 0rem #{$space}rem;
    }
    .mt-#{$space} {
        margin-top: #{$space}rem;
    }
    .mb-#{$space} {
        margin-bottom: #{$space}rem;
    }
    .ml-#{$space} {
        margin-left: #{$space}rem;
    }
    .mr-#{$space} {
        margin-right: #{$space}rem;
    }
}

.ml-half {
    margin-left: 0.5rem;
}