//font
$font-heading-family: Cardo,
serif;
$font-heading-style: normal;
$font-heading-weight: 400;
$font-heading-base-size: 2.6rem;
$font-body-family: Helvetica,
'Helvetica Neue',
Arial,
'Lucida Grande',
sans-serif;
$font-body-style: normal;
$font-body-weight: 400;
$font-body-weight-bold: 700;
$font-body-base-size: 62.5%;
//color
$color-background: #fffbf6;
$color-body: #fffbf6;
$color-secondary-background: #faf3ec;
$color-borders-and-lines: #dad0ca;
$color-button: #000000;
$color-headings-and-links: #000000;
$color-body-text: #746b60;
$color-secondary-background-text: #000000;
$color-sale-price: #c74230;
$color-field-text: #000000;
$color-field-borders: #000000;
//border
$border-radius-button-and-badges: 2px;
$border-radius-global: 0;